.fb-form { overflow:hidden }
.fb-form form { float:left; }
.fb-form .fb-fields { float:left; }
.fb-form .fb-fieldset { float:left; display:block; clear:both; margin-bottom:15px; width:100%; }
.fb-form .fb-fieldname {
	display:block; float:left; width:150px; clear:both;
}
.fb-form .fb-field {
	width: 200px;
}
.fb-form .fb-submit {
	clear:both; float:right;
}
.fb-form .fb-error { display:block; margin-left:150px; color: #f22; }